{% for event in events %}
  <article class="blog_item">
    <div class="blog_item_img">
      <div id="carousel{{ event.id }}" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          {% for image in event.images %}
            <div class="carousel-item{% if loop.first %} active{% endif %}">
              <img class="d-block w-100" src="{{ asset(image.imageName) }}" alt="Event Image"> </div>
          {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#carousel{{ event.id }}" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel{{ event.id }}" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <a href="#" class="blog_item_date">
        <h3>{{ event.startDate|date('d') }}</h3>
        <p>{{ event.endDate|date('M') }}</p>
      </a>
    </div>

    <div class="blog_details">
      <a class="d-inline-block" href="{{ path('event_show', {'id': event.id}) }}">
        <h2>{{ event.name }}</h2>
      </a>
      <p>{{ event.description }}</p>
      <ul class="blog-info-link">
        <!-- Update this section based on your actual event details -->
        <li><a href="#"><i class="far fa-user"></i></a> {{event.organizer.firstName}}</li>
        <li><a href="#"><i class="far fa-comments"></i> {{event.location}}</a></li>
      </ul>
    </div>
  </article>
{% else %}
  <p>No events found.</p>
{% endfor %}