<h1>List of Books</h1>
{% set x = 0 %}
{% if  tabBooks is empty%}

<h1>Tab vide</h1>
{% else %}
<table border="1">
    <tr>
        <th>Ref</th>
        <th>Title</th>
        <th>Puplished</th>
        <th>Puplication Date</th>
        <th>Action</th>

    </tr>
  {% for i in tabBooks %}
  {% if i.published == 1 %}

        <tr>
            <td>{{ i.ref }}</td>
            <td>{{ i.title }}</td>
            <td>{{ i.published }}</td>
            <td>{{ i.publicationDate|date }}</td>
            <td><a href="{{ path('edit_Book', {'ref': i.ref}) }}">edit</a> 
                <a href="{{ path('delete_Book', {'ref': i.ref}) }}">delete</a>
                <a href="{{ path('show_Book', {'ref': i.ref}) }}">show</a></td>
            



        </tr>
{% endif %}

    {% endfor %}
   </table>
{% endif %}
