{% for book in tabBooksA %}

<tr>
    <td>{{ book.ref }}</td>
    <td>{{ book.title|upper }}</td>
    <td>{{ book.published }}</td>
    <td>{{ book.publicationDate|date }}</td>
    <td>{{ book.category }}</td>
    <td>{{ book.Author }}</td>
    
</tr>
{% endfor %}