{% extends 'BaseFrontOffice.html.twig' %}

{% block title %}Delivery List{% endblock %}

{% block stylesheets %}
{{ parent() }}
<style>
    .table.table-bordered {
        border-collapse: collapse;
    }

    .table.table-bordered th,
    .table.table-bordered td {
        border: 1px solid #dee2e6;
    }

    .table.table-bordered th:first-child,
    .table.table-bordered td:first-child {
        border-left: none;
    }

    .table.table-bordered th:last-child,
    .table.table-bordered td:last-child {
        border-right: none;
    }

    .table.table-bordered thead th {
        border-top: none;
    }

    .table.table-bordered tbody tr:last-child td {
        border-bottom: none;
    }
</style>
{% endblock %}

{% block front %}
<section class="confirmation_part padding_top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="confirmation_tittle">Delivery List</h1>

                <div class="single_confirmation_details">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col" class="text-uppercase">Statut</th>
                                <th scope="col" class="text-uppercase">Adresse</th>
                                <th scope="col" class="text-uppercase">Cout</th>
                                <th scope="col" class="text-uppercase">Dure</th>
                                <th scope="col" class="text-uppercase">Date</th>
                                <th scope="col" class="text-uppercase">Commentaires</th>
                                <th scope="col" class="text-uppercase">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for livraison in livraisons %}
                            <tr>
                                <td>{{ livraison.Statut }}</td>
                                <td>{{ livraison.Adresse }}</td>
                                <td>{{ livraison.Cout }}</td>
                                <td>{{ livraison.dure }}</td>
                                <td>{{ livraison.Date.format('Y-m-d H:i:s') }}</td>
                                <td>{{ livraison.Commentaires }}</td>
                                <td>
                                    <a href="{{ path('app_livraisonfront_show', {'id': livraison.id}) }}"class="genric-btn primary circle"">Show</a>
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <td colspan="7" class="text-center">No records found</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <br>
                <div class="text-center">
                    <a href="{{ path('app_livraisonfront_new') }}"
                        class="genric-btn primary-border circle arrow">Create New<span
                            class="lnr lnr-arrow-right"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
